body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* .canvas-container {
  flex: 1;
  overflow: hidden;
  position: relative;
  border: 2px solid #cfc0c0;
}

.fabric-canvas {
  position: absolute;
  top: 0;
  left: 50%;
  position: fixed;
  transform: translate(-50%);
  border: 2px solid #b30d0d;
} */

.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh; /* Full screen height */
  position: fixed;
  top: 0;
  left: 0;
  border: white solid;
}

.fabric-canvas {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  box-sizing: border-box; /* Ensure padding/border are included in the element's width and height */
}

.button-active {
  border-bottom: 2px solid violet;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4a5568;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #2d3748;
}

.button-active {
  color: white;
}

.flex-grow {
  flex-grow: 1;
}

.overflow-auto {
  overflow-y: auto;
}

.board-item {
  background-color: #1a1a1a;
}

.board-image {
  max-width: 100%;
  max-height: 100%;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet {
  height: 20px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
}

.modal-content h2 {
  margin-top: 0;
}

.modal-content pre {
  background: #f5f5f5;
  padding: 10px;
  border-radius: 5px;
  max-width: 100%;
  overflow-x: auto;
}

.modal-content textarea {
  width: 100%;
  margin-bottom: 10px;
}

.modal-content button {
  margin-right: 10px;
}
